<form action="/addTagRes" method="post">

  <input type="checkbox" name="childTagIds" value="<%= id %>" /><%= thisTag.name %> （Self）<br />

  <p>Child Tags</p>
  <ul>
    <% childTags.forEach(function(childTag){ %>
      <li>
        <input type="checkbox" name="childTagIds" value="<%= childTag.id %>" />
        <%= childTag.name %>
      </li>
      <% }) %>
  </ul>

  <p>Child Files</p>
  <ul>
    <% childFiles.forEach(function(childFile){ %>
      <li>
        <input type="checkbox" name="childFileIds" value="<%= childFile.id %>" />
        <a href="<%= childFile.path %>">
        <%= childFile.name %>
        </a>
      </li>
      <% }) %>
  </ul>

  <p>Child Folders</p>
  <ul>
    <% childFolders.forEach(function(childFolder){ %>
      <li>
        <input type="checkbox" name="childFolderIds" value="<%= childFolder.id %>" />
        <%= childFolder.name %>
      </li>
      <% }) %>
  </ul>

  <hr />

  <%- include('treeviewWithCheckbox', {items: tags}); %>

    <input type="hidden" name="id" value="<%= id %> " />
    <button>送出</button>
</form>