<h1>Tag</h1>

<h2>
  <%= tag.name %>
</h2>

<select name="parentTag">
  <% for(let i=0; i < allTags.length; i++) { %>
    <option value="<%= allTags[i].id %>">
      <%= allTags[i].name %>
    </option>
    <% } %>
</select>

<p>Child Tags</p>
<ul>
  <% childTags.forEach(function(childTag){ %>
    <li>
      <%= childTag.name %>
    </li>
  <% }) %>
</ul>

<p>Child Files</p>
<ul>
  <% childFiles.forEach(function(childFile){ %>
    <li>
      <%= childFile.name %>
    </li>
  <% }) %>
</ul>

<p>Child Folders</p>
<ul>
  <% childFolders.forEach(function(childFolder){ %>
    <li>
      <%= childFolder.name %>
    </li>
  <% }) %>
</ul>